<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li th:each="book : ${books}">
            <p th:text="${book.title}"></p>
            <button>
                <a th:href="@{/book/{isbn} (isbn = ${book.isbn()})}">Details</a>
            </button>
        </li>
<!--        <li th:each="book : ${books}" th:object="${book}">-->
<!--            <p th:text="*{title}"></p>-->
<!--        </li>-->
    </ul>
</body>
</html>